<!DOCTYPE html>
<html
  lang="es"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head th:replace="/fragments/head :: head"></head>
  <head>
    <title>Sixto Coffee - Inicio</title>
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Sixto</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/t/tostadores}">Tostadores</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Puntos de Venta</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white">
      <div class="masthead-content">
        <div class="container">
          <h1 class="masthead-heading mb-0">Match a tu Coffee</h1>
          <h2 class="masthead-subheading mb-0">Descubrilo!</h2>
          <a href="/" class="btn btn-primary btn-xl rounded-pill mt-5"
            >Registrate</a
          >
          <a href="/" class="btn btn-primary btn-xl rounded-pill mt-5"
            >Ya tengo mi cuenta</a
          >
        </div>
      </div>
      <div class="bgi-h1"></div>
      <!--
      <div class="bg-circle-1 bg-circle"></div>
      <div class="bg-circle-2 bg-circle"></div>
      <div class="bg-circle-3 bg-circle"></div>
      <div class="bg-circle-4 bg-circle"></div>
      -->
    </header>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
                <img class="img-fluid rounded-circle" src="/img/coffee-beans-400052 (2).jpg" alt="yellow-coffee"/>
            </div> 
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4">Registrate</h2>
              <p>Ingresá tu datos y dejanos saber cuales son tus preferencias de 
                  sabores, aromas, en que momento te gusta tomarlo, cada cuanto...<br>
                  (Aquí, nunca es demasiada información).
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="/img/coffee-4271740.jpg" alt="learn-coffee" />
            </div>
          </div>
          <div class="col-lg-6">
              <div class="p-5">
                <h2 class="display-4">Aprendé</h2>
                <p>¿Cold Brew? ¿Agitación? ¿Tamper? ¿Retrogusto? ¿Como se lee una etiqueta?
                    ¿Cual es el tiempo ideal para una French Press? ¡¿Una French Press?!<br>
                    Ok, tranqui, prometemos que te vamos a contar esto y mucho más para que sepas
                    todos los secretos del mundo del café.
                </p>
              </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="/img/william-moreland-O6l12PKoQsc-unsplash.jpg" alt="coffee-love" />
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4">Amor!</h2>
              <p>...a primera vista de tu nuevo café.<br>
              Si en tu primer match no surgió esa química, te daremos otro que
              elijas, sin cargo!
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer th:replace="/fragments/footer :: footer"></footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
